body {
  background-color: #F9F7F7;
  }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  }

h1 {
  color: black;
}


h3 {
  color: #00a8b5;
}

li {
  color: black;
}
body {
  max-width: 900px;  /* 限制最大寬度，不讓它無限往右延伸 */
  margin: 0 auto;    /* 讓整個區塊水平居中 */
  padding: 20px;
}
